// Img_url
$imgUrl: '/dist/img/';

// Breakpoints
$md: 1366px;
$lg: 1024px;
$xs: 376px;

// Colors
$white: #FFFFFF;
$black: #171719;
$dolceColor: #8D5287;
$black50: #A2A2A3;
$blackLight: #DBE1E9;
$blackLight2: #B0B9C4;
$bgSkin: #CBB7C0;
$bgWarm: #EBE8E3;
$bgCold: #D9EBEF;
$bgGrey: #F2F2F2;
$bgCosmetic: #F9F9F9;
$bgDAF2F8: #DAF2F8;
$activeColor: #BB5EB2;
$error: #FF3C6A;

$transition: all .3s;
$transition5: all .5s;

%container {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	//padding: 0px 40px;
	@media (max-width:$md) {
		max-width: 100%;
		//padding: 0px 26px;
	}
	@media (max-width:$lg) {
		width: 1024px;
		max-width: 1024px;
		//padding: 0px 26px;
	}
	@media (max-width:$xs) {
		//padding: 0px 30px;
		max-width: 376px;
	}
}

%link {
	pointer-events: none;
	@media (max-width:$xs) {
		pointer-events: auto;
	}
}

%indentLeft {
	padding-left: 198px;
	@media (max-width:$md) {
		padding-left: 132px;
	}
	@media (max-width:$lg) {
		padding-left: 106px;
	}
	@media (max-width:$xs) {
		padding-left: 30px;
	}
}
%indentRight {
	padding-right: 180px;
	@media (max-width:$md) {
		padding-right: 132px;
	}
	@media (max-width:$lg) {
		padding-right: 106px;
	}
	@media (max-width:$xs) {
		padding-right: 30px;
	}
}

%imgBg {
	flex: none;
	background: {
		repeat: no-repeat;
		size: cover;
		position: center;
	}
}

%stretch {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}