.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 142px 0;
    background: $black;
    &__content {
        @extend %indentRight;
        @extend %indentLeft;
    }
    &__top,
    &__bottom {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        line-height: 34px;
    }
    &__top {
        color: $white;
    }
    &__bottom {
        margin-top: 194px;
        color: $blackLight2;
    }
    &__box {
        flex: none;
        &:first-child {
            width: 403px;
        }
        &:nth-child(2) {
            width: 504px;
        }
        &:last-child {
            width: 156px;
        }
    }
    &__yandex,
    &__policy {
        transition: $transition;
        &:hover {
            color: $dolceColor;
        }
        &:active {
            color: $activeColor;
        }
    }
    &__ferma {
        position: relative;
        top: -6px;
        margin-left: 33px;
        &:hover {
            svg {
                path {
                    fill: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    fill: $activeColor;
                }
            }
        }
        svg {
            display: block;
            position: absolute;
            top: -1px;
            left: -93px;
            path {
                transition: $transition;
            }
        }
        span {
            font-size: 16px;
            line-height: 24px;
            color: $white;
            white-space: nowrap;
        }
    }
}
.footerTime {
    margin-top: 30px;
    &__li {
        display: flex;
        gap: 0 30px;
        &:not(:first-child) {
            margin-top: 2px;
        }
    }
    &__span {
        &:first-child {
            flex: none;
            width: 71px;
        }
    }
}
.footerNav {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 60px;
    &__li {
        flex: none;
        width: 133px;
    }
    &__link {
        transition: $transition;
        &:hover {
            color: $dolceColor;
        }
        &:active {
            color: $activeColor;
        }
    }
}
.footerSocial {
    display: flex;
    align-items: center;
    gap: 0 38px;
    &__link {
        display: block;
        &:hover {
            svg {
                path {
                    fill: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    fill: $activeColor;
                }
            }
        }
    }
    svg {
        path {
            transition: $transition;
        }
    }
}