.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 142px 0;
    @extend %container;
    background: $black;
    @media (max-width:$md) {
        padding: 64px 0;
    }
    @media (max-width:$lg) {
        padding: 61px 0;
    }
    &__content {
        @extend %indentRight;
        @extend %indentLeft;
    }
    &__top,
    &__bottom {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        line-height: 34px;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
    }
    &__top {
        color: $white;
    }
    &__bottom {
        margin-top: 194px;
        color: $blackLight2;
        @media (max-width:$md) {
            margin-top: 130px;
        }
        @media (max-width:$lg) {
            margin-top: 136px;
        }
    }
    &__box {
        &:first-child {
            width: 403px;
            @media (max-width:$md) {
                width: 422px;
            }
            @media (max-width:$lg) {
                width: 380px;
            }
        }
        &:nth-child(2) {
            width: 504px;
            @media (max-width:$md) {
                width: 497px;
            }
            @media (max-width:$lg) {
                width: 420px;
            }
        }
        &:last-child {
            width: 156px;
            @media (max-width:$md) {
                width: 201px;
            }
            @media (max-width:$lg) {
                width: 111px;
            }
        }
    }
    &__yandex,
    &__policy {
        transition: $transition;
        &:hover {
            color: $dolceColor;
        }
        &:active {
            color: $activeColor;
        }
    }
    &__ferma {
        position: relative;
        top: -6px;
        margin-left: 33px;
        @media (max-width:$md) {
            top: -10px;
            margin-left: 5px;
        }
        &:hover {
            svg {
                path {
                    fill: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    fill: $activeColor;
                }
            }
        }
        svg {
            display: block;
            position: absolute;
            top: -1px;
            left: -93px;
            @media (max-width:$md) {
                top: -5px;
                left: -109px;
            }
            @media (max-width:$lg) {
                left: -98px;
            }
            path {
                transition: $transition;
            }
        }
        span {
            font-size: 16px;
            line-height: 24px;
            color: $white;
            white-space: nowrap;
            @media (max-width:$md) {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}
.footerTime {
    margin-top: 30px;
    &__li {
        display: flex;
        gap: 0 30px;
        @media (max-width:$md) {
            gap: 0 20px;
        }
        &:not(:first-child) {
            margin-top: 2px;
        }
    }
    &__span {
        &:first-child {
            flex: none;
            width: 71px;
            @media (max-width:$md) {
                width: 50px;
            }
        }
    }
}
.footerNav {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 60px;
    @media (max-width:$md) {
        gap: 10px 0px;
        max-width: 80%;
    }
    &__li {
        flex: none;
        width: 133px;
    }
    &__link {
        transition: $transition;
        &:hover {
            color: $dolceColor;
        }
        &:active {
            color: $activeColor;
        }
    }
}
.footerSocial {
    display: flex;
    align-items: center;
    gap: 0 38px;
    @media (max-width:$md) {
        gap: 0 19px;
    }
    &__link {
        display: block;
        &:hover {
            svg {
                path {
                    fill: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    fill: $activeColor;
                }
            }
        }
    }
    svg {
        @media (max-width:$md) {
            zoom: 0.75;
        }
        path {
            transition: $transition;
        }
    }
}