.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: transform .8s;
    z-index: 5;
    &__container {
        padding: 0 40px;
        @media (max-width:$md) {
            padding-left: 26px;
            padding-right: 23px;
        }
        @media (max-width:$lg) {
            padding-left: 21px;
            padding-right: 16px;
        }
        @media (max-width:$xs) {
            padding-left: 30px;
            padding-right: 26px;
        }
    }
    &__content {
        padding: 21px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:$md) {
            padding: 10px 0;
        }
    }
    &__box {
        margin-right: -12px;
        padding-left: 46px;
        display: flex;
        justify-content: space-between;
        @media (max-width:$md) {
            margin-right: -4px;
            padding-left: 63px;
        }
        @media (max-width:$lg) {
            margin-right: 0;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        &_btns {
            margin-left: 58px;
            @media (max-width:$md) {
                margin-left: 41px;
            }
        }
        &_basket {
            margin-left: 58px;
            @media (max-width:$md) {
                margin-left: 38px;
            }
        }
    }
    &__logo {
        display: block;
        transition: $transition;
        svg {
            @media (max-width:$md) {
                width: 142px;
                height: 20px;
            }
            @media (max-width:$lg) {
                width: 135px;
                height: 19px;
            }
        }
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
    }
    &__tel {
        padding-top: 4px;
        font-size: 22px;
        line-height: 38px;
        color: $black;
        @extend %link;
        @media (max-width:$md) {
            font-size: 16px;
            line-height: 28px;
        }
        @media (max-width:$lg) {
            font-size: 14px;
            line-height: 26px;
        }
        @media (max-width:$xs) {
            display: none;
        }
    }
    &__basket {
        @media (max-width:$xs) {
            display: none;
        }
        &:hover {
            svg {
                path {
                    stroke: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    stroke: $activeColor;
                }
            }
        }
        svg {
            @media (max-width:$md) {
                width: 25px;
                height: 25px;
            }
            path {
                transition: $transition;
            }
        }
    }
    &__btn {
        width: 246px;
        height: 62px;
        @media (max-width:$md) {
            width: 144px;
            height: 38px;
        }
    }
    &__certificate {
        margin-left: 30px;
        font-size: 22px;
        line-height: 32px;
        color: $dolceColor;
        transition: $transition;
        @media (max-width:$md) {
            margin-left: 20px;
            font-size: 14px;
            line-height: 16px;
        }
        @media (max-width:$xs) {
            margin-left: 22px;
            font-size: 14px;
            line-height: 22px;
        }
        &:hover {
            color: $black;
        }
        &:active {
            color: $activeColor;
        }
    }
    &_first {
        @media (max-width:$xs) {
            position: fixed;
            background: $white;
            z-index: 15;
        }
        .header__box {
            width: 627px;
            @media (max-width:$md) {
                width: 449px;
            }
            @media (max-width:$lg) {
                width: 374px;
            }
            @media (max-width:$xs) {
                width: auto;
            }
        }
        .header__content {
            padding: 37px 0 18px;
            @media (max-width:$md) {
                padding: 18px 0;
            }
            @media (max-width:$lg) {
                padding: 12px 0;
            }
            @media (max-width:$xs) {
                padding: 9px 0;
            }
        }
        .header__wrapper {
            &_basket {
                margin-left: 0;
                @media (max-width:$xs) {
                    margin-left: 16px;
                }
            }
        }
        .headerSocial {
            @media (max-width:$lg) {
                margin-left: 11px;
            }
            @media (max-width:$xs) {
                margin-left: 0;
            }
        }
        .hamburger {
            @media (max-width:$md) {
                margin-left: 20px;
            }
            @media (max-width:$lg) {
                margin-left: 12px;
            }
            @media (max-width:$xs) {
                margin-left: 0;
            }
        }
    }
    &_main {
        position: fixed;
        background: $white;
    }
    &.hide {
        transform: translateY(-100%);
    }
}
.headerSocial {
    margin-left: 20px;
    display: flex;
    gap: 8px;
    @media (max-width:$lg) {
        margin-left: 21px;
        gap: 10px;
    }
    &__item {
        @media (max-width:$xs) {
            display: none;
        }
        &_phone {
            display: none;
            @media (max-width:$xs) {
                display: block;
            }
            .headerSocial__link {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s;
            }
            svg {
                @media (max-width:$xs) {
                    width: auto;
                    height: auto;
                }
            }
            .cross {
                display: none;
            }
        }
    }
    &__link {
        display: block;
        @media (max-width:$xs) {
            width: 36px;
            height: 36px;
            background: $black;
            border-radius: 50%;
            overflow: hidden;
        }
        &:hover {
            svg {
                path {
                    fill: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    fill: $activeColor;
                }
            }
        }
    }
    svg {
        @media (max-width:$md) {
            width: 26px;
            height: 26px;
        }
        path {
            transition: $transition;
        }
    }
}
.hamburger {
    margin-left: 26px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
    transition: $transition;
    @media (max-width:$md) {
        margin-left: 28px;
        width: 40px;
        height: 40px;
    }
    @media (max-width:$xs) {
        width: 36px;
        height: 36px;
    }
    @media (max-width:$lg) {
        margin-left: 35px;
    }
    &:hover {
        background: $bgGrey;
    }
    &:active {
        background: $bgCold;
    }
    &__box {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 12px;
        &:after,
        &:before {
            display: block;
            content: "";
            position: absolute;
            width: 28px;
            height: 2px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: $black;
        }
        &:before {
            top: -1px;
            transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }
        &:after {
            top: 11px;
            transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }
    }
    &.active {
        background: $bgGrey;
        &:hover {
            background: $bgWarm;
        }
        &:active {
            background: $bgCold;
        }
        .hamburger__box {
            &:before {
                top: -4px;
                transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
                transform: translate3d(0,10px,0) rotate(45deg);
            }
            &:after {
                top: -4px;
                transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
                transform: translate3d(0,10px,0) rotate(-45deg);
            }
        }
    }
}
.headerMenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;
    z-index: 20;
    transform: translateY(-100%);
    opacity: 0;
    border-radius: 100% 100% 100% 100% / 10% 10% 20% 20%;
    transition: transform .9s, border-radius 1s, opacity 2s;
    pointer-events: none;
    &__content {
        display: flex;
        height: 100%;
        padding-right: 28px;
        @media (max-width:$md) {
            padding-right: 20px;
        }
        @media (max-width:$lg) {
            padding-right: 11px;
        }
        @media (max-width:$xs) {
            position: relative;
            padding-right: 0;
        }
    }
    &__container {
        height: 100%;
        padding-top: 186px;
        padding-bottom: 70px;
        @media (max-width:$md) {
            padding-top: 133px;
            padding-bottom: 44px;
        }
        @media (max-width:$lg) {
            padding-bottom: 42px;
        }
        @media (max-width:$xs) {
            padding: 0 30px;
        }
    }
    .header {
        &:after {
            @media (max-width:$xs) {
                content:'';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 215px;
                background: $bgCold;
                z-index: -1;
            }
        }
        &:before {
            @media (max-width:$xs) {
                content:'';
                position: absolute;
                top: 214px;
                right: 0;
                width: 100%;
                height: 10px;
                background: linear-gradient(180deg, #D9EBEF 0%, rgba(217, 235, 239, 0) 100%);
            }
        }
        &__content {
            @media (max-width:$xs) {
                padding: 20px 0;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
        &__wrap {
            width: calc(100% - 1075px);
            min-width: 336px;
            transform: translateY(-30px);
            opacity: 0;
            transition: transform .9s 1.2s, opacity 1s 1.2s;
            @media (max-width:$md) {
                min-width: 320px;
            }
            @media (max-width:$lg) {
                min-width: 220px;
                width: calc(100% - 686px);
            }
            @media (max-width:$xs) {
                min-width: auto;
                width: auto;
            }
        }
        &__container {
            padding-right: 28px;
            padding-left: 138px;
            @media (max-width:$md) {
                padding-left: 80px;
            }
            @media (max-width:$lg) {
                padding-left: 22px;
            }
            @media (max-width:$xs) {
                padding-left: 29px;
            }
        }
        &__box {
            width: 100%;
            padding: 0;
            justify-content: flex-start;
            &_white {
                padding-left: 57px;
                margin-right: 0;
                @media (max-width:$md) {
                    padding-left: 47px;
                }
                @media (max-width:$lg) {
                    padding-left: 34px;
                }
                @media (max-width:$xs) {
                    padding-top: 21px;
                    margin-top: 25px;
                    padding-left: 0;
                    flex-direction: column;
                    border-top: 1px solid #a2a2a380;
                }
            }
        }
        &__envelope {
            position: relative;
            margin-left: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transform: translateY(-30px);
            opacity: 0;
            transition: transform .9s 2s, opacity 1s 2s;
            @media (max-width:$md) {
                margin-left: 43px;
            }
            @media (max-width:$xs) {
                margin-left: 0;
                transition: transform .9s 1.3s, opacity 1s 1.3s;
            }
        }
        &__wrapper {
            margin-left: 0;
            &_basket {
                gap: 0 30px;
                @media (max-width:$xs) {
                    gap: 0 18px;
                    position: absolute;
                    top: -75px;
                    right: -1px;
                }
            }
            &_contacts {
                width: 287px;
                flex: none;
                @media (max-width:$md) {
                    width: 211px;
                }
            }
        }
        &__basket {
            display: block;
        }
        &__tel {
            transform: translateY(-30px);
            opacity: 0;
            transition: transform .9s 1.7s, opacity 1s 1.7s;
            @media (max-width:$xs) {
                padding-top: 0;
                display: block;
                position: absolute;
                top: 166px;
                left: 31px;
                font-size: 22px;
                line-height: 26px;
                transition: transform .9s 1.5s, opacity 1s 1.5s;
            }
        }
        &__btn {
            @media (max-width:$md) {
                width: 168px;
                height: 46px;
            }
        }
        .headerSocial__item {
            @media (max-width:$xs) {
                display: block;
            }
        }
        .headerSocial {
            @media (max-width:$xs) {
                display: flex;
                position: absolute;
                top: 163px;
                left: 224px;
                margin-left: 0;
                gap: 0 17px;
            }
            &__link {
                @media (max-width:$xs) {
                    width: 30px;
                    height: 30px;
                    background: transparent;
                    overflow: visible;
                }
                svg {
                    @media (max-width:$xs) {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
    .headerSocial {
        transform: translateY(-30px);
        opacity: 0;
        transition: transform .9s 1.8s, opacity 1s 1.8s;
        @media (max-width:$xs) {
            transition: transform .9s 1.5s, opacity 1s 1.5s;
        }
    }
    .hamburger {
        margin-left: 0;
    }
}
.menuMain {
    position: relative;
    width: calc(100% - 498px);
    min-width: 474px;
    height: 100%;
    @media (max-width:$md) {
        width: calc(100% - 784px);
        min-width: 400px;
    }
    @media (max-width:$lg) {
        width: 242px;
        min-width: 242px;
    }
    @media (max-width:$xs) {
        width: 100%;
        min-width: auto;
        transition: all .5s;
    }
    &:after {
        content:'';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $bgCold;
        z-index: -1;
        transform: translateY(-50%);
        opacity: 0;
        transition: transform .9s .5s, opacity 1s .5s;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        @media (max-width:$xs) {
            height: auto;
        }
    }
    &__ul {
        &_big {
            transform: translateY(-30px);
            opacity: 0;
            transition: transform .9s 1.2s, opacity 1s 1.2s;
            @media (max-width:$xs) {
                transition: transform .9s 1.7s, opacity 1s 1.7s;
            }
            .menuMain__li {
                font-size: 34px;
                line-height: 40px;
                @media (max-width:$md) {
                    font-size: 22px;
                    line-height: 26px;
                }
                @media (max-width:$xs) {
                    position: relative;
                }
                &:not(:first-child) {
                    margin-top: 30px;
                    @media (max-width:$md) {
                        margin-top: 20px;
                    }
                    @media (max-width:$xs) {
                        margin-top: 30px;
                    }
                }
                &:after {
                    @media (max-width:$xs) {
                        content:'';
                        position: absolute;
                        top: 7px;
                        right: 6px;
                        background: {
                            image: url($imgUrl + "svg/arrowShowHide.svg");
                            repeat: no-repeat;
                            size: cover;
                        }
                        width: 16px;
                        height: 10px;
                        transform: rotate(-90deg);
                    }
                }
            }
        }
        &_small {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            transform: translateY(-30px);
            opacity: 0;
            transition: transform .9s 1.4s, opacity 1s 1.4s;
            @media (max-width:$md) {
                margin-top: 32px;
            }
            @media (max-width:$lg) {
                gap: 0 17px;
            }
            @media (max-width:$xs) {
                margin-top: 40px;
                gap: 0px 33px;
                transition: transform .9s 1.8s, opacity 1s 1.8s;
            }
            .menuMain__li {
                flex: none;
                width: 168px;
                font-size: 22px;
                line-height: 44px;
                @media (max-width:$md) {
                    width: 116px;
                    font-size: 14px;
                    line-height: 32px;
                }
                @media (max-width:$lg) {
                    width: 100px;
                }
                @media (max-width:$xs) {
                    width: 136px;
                    line-height: 39px;
                }
            }
        }
    }
    &__span {
        position: relative;
        cursor: pointer;
        color: $black;
        transition: $transition;
        &:hover {
            color: $dolceColor;
            &:after {
                opacity: 1;
                background: $dolceColor;
            }
        }
        &:active {
            &:after {
                opacity: 0;
            }
        }
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: -9px;
            left: 0;
            height: 1px;
            background: $black;
            transition: $transition;
            opacity: 0;
            pointer-events: none;
            @media (max-width:$md) {
                bottom: -5px;
            }
        }
        &.active {
            pointer-events: none;
            @media (max-width:$xs) {
                pointer-events: auto;
            }
            &:after {
                opacity: 1;
                @media (max-width:$xs) {
                    opacity: 0;
                }
            }
        }
    }
    &__link {
        color: $black;
        transition: $transition;
        &:hover {
            color: $dolceColor;
        }
        &:active {
            color: $activeColor;
        }
    }
    &__social {
        @media (max-width:$xs) {
            margin-top: 35px;
        }
    }
    .headerMenu__container {
        padding-left: 138px;
        @media (max-width:$md) {
            padding-left: 80px
        }
        @media (max-width:$lg) {
            padding-left: 22px;
        }
        @media (max-width:$xs) {
            padding: 235px 30px 66px 30px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0px;
            }
        }
    }
}
.menuMainSocial {
    display: flex;
    align-items: center;
    gap: 0 37px;
    transform: translateY(-30px);
    opacity: 0;
    transition: transform .9s 1.6s, opacity 1s 1.6s;
    @media (max-width:$md) {
        gap: 0 20px;
    }
    @media (max-width:$xs) {
        gap: 0 38px;
    }
    &__link {
        display: block;
        &:hover {
            svg {
                path {
                    fill: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    fill: $activeColor;
                }
            }
        }
    }
    svg {
        @media (max-width:$md) {
            zoom: .73;
        }
        @media (max-width:$xs) {
            zoom: 1;
        }
        path {
            fill: $black;
            transition: $transition;
        }
    }
}
.menuMiddle {
    margin-left: 57px;
    width: 287px;
    flex: none;
    @media (max-width:$md) {
        margin-left: 47px;
        width: 211px;
    }
    @media (max-width:$lg) {
        margin-left: 34px;
    }
    @media (max-width:$xs) {
        margin-top: 85px;
        margin-left: 0;
        width: 100%;
        top: 0;
        z-index: 5;
    }
    &__content {
        display: flex;
        gap: 0 40px;
        @media (max-width:$md) {
            gap: 0 45px;
        }
        @media (max-width:$xs) {
            gap: 0;
            flex-direction: column;
        }
    }
    &__box {
        &.show {
            .menuMiddle {
                &__ul {
                    @media (max-width:$xs) {
                        opacity: 1;
                        transform: translateY(0px);
                        pointer-events: auto;
                    }
                }
            }
        }
    }
    &__list {
        &:nth-child(1) {
            transform: translateY(-30px);
            opacity: 0;
            transition: transform .9s 1.7s, opacity 1s 1.7s;
        }
        &:nth-child(2) {
            margin-left: 22px;
            transform: translateY(-30px);
            opacity: 0;
            transition: transform .9s 1.8s, opacity 1s 1.8s;
            @media (max-width:$md) {
                margin-left: 0;
            }
            .menuMiddle__span {
                &.active {
                    color: $black;
                    &:after {
                        background: $bgCold;
                    }
                }
            }
        }
        &_selected {
            @media (max-width:$xs) {
                margin-top: 22px;
                position: relative;
                z-index: 1;
            }
            .menuMiddle {
                &__ul {
                    @media (max-width:$xs) {
                        display: block;
                        position: absolute;
                        top: 50px;
                        right: 0;
                        left: 0;
                        background: $white;
                        opacity: 0;
                        transform: translateY(-30px);
                        pointer-events: none;
                        transition: all .5s;
                    }
                }
                &__span {
                    &.active {
                        @media (max-width:$xs) {
                            color: $black;
                            pointer-events: auto;
                        }
                        &:after {
                            @media (max-width:$xs) {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
        &_interim {
            @media (max-width:$xs) {
                margin-top: 26px;
                padding: 0 13px;
            }
        }
    }
    &__ul {
        @media (max-width:$xs) {
            display: flex;
            gap: 0 24px;
        }
    }
    &__li {
        &:not(:first-child) {
            margin-top: 16px;
            @media (max-width:$md) {
                margin-top: 20px;
            }
            @media (max-width:$xs) {
                margin-top: 0;
            }
        }
    }
    &__span {
        position: relative;
        font-size: 22px;
        line-height: 38px;
        color: $black;
        cursor: pointer;
        transition: $transition;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
        &:hover {
            &:after {
                opacity: 1;
                background: $bgCold;
            }
        }
        &:active {
            &:after {
                background: $bgGrey;
            }
        }
        &:after {
            content:'';
            position: absolute;
            top: -16px;
            right: -20px;
            left: -20px;
            height: 48px;
            border-radius: 50px;
            opacity: 0;
            pointer-events: none;
            z-index: -1;
            transition: $transition;
            @media (max-width:$md) {
                top: -12px;
                right: -12px;
                left: -12px;
                height: 34px;
            }
        }
        &.active {
            color: $white;
            pointer-events: none;
            &:after {
                opacity: 1;
                pointer-events: auto;
                background: $black;
            }
        }
    }
    &__back {
        display: none;
        @media (max-width:$xs) {
            display: flex;
            align-items: center;
        }
        svg {
            position: relative;
            left: -5px;
            margin-right: 11px;
            zoom: .6;
            transform: rotate(90deg);
        }
        span {
            font-size: 14px;
            line-height: 26px;
            color: $black;
        }
    }
    &__selected {
        display: none;
        @media (max-width:$xs) {
            position: relative;
            display: block;
        }
        &:after {
            @media (max-width:$xs) {
                content:'';
                position: absolute;
                top: 20px;
                right: 21px;
                background: {
                    image: url($imgUrl + "svg/arrowShowHide.svg");
                    repeat: no-repeat;
                    size: cover;
                }
                width: 15px;
                height: 9px;
            }
        }
        input {
            padding-left: 26px;
            padding-right: 46px;
            width: 100%;
            height: 46px;
            border: none;
            font-size: 14px;
            color: $black;
            background: $bgCold;
            border-radius: 50px;
            @include placeholder(14px, $black, 'SuisseIntl');
        }
    }
}
.menuProcedures {
    margin-left: 80px;
    width: 100%;
    transform: translateY(-30px);
    opacity: 0;
    transition: transform .9s 2s, opacity 1s 2s;
    @media (max-width:$md) {
        margin-left: 43px;
    }
    @media (max-width:$lg) {
        margin-left: 56px;
    }
    @media (max-width:$xs) {
        margin-left: 0;
        top: 256px;
    }
    &__content {
        position: relative;
        padding-right: 23px;
        margin-top: -9px;
        height: auto;
        @media (max-width:$md) {
            margin-bottom: 44px;
            padding-right: 24px;
        }
        @media (max-width:$lg) {
            margin-bottom: 22px;
        }
        @media (max-width:$xs) {
            padding-right: 0;
        }
        &:after,
        &:before {
            content:'';
            position: absolute;
            right: 30px;
            left: 0;
            height: 16px;
        }
        &:before {
            top: 0;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            @media (max-width:$xs) {
                top: -1px;
            }
        }
        &:after {
            bottom: 0;
            background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            @media (max-width:$xs) {
                bottom: -1px;
            }
        }
    }
    &__list {
        padding-top: 9px;
        padding-right: 10px;
        padding-bottom: 6px;
        display: flex;
        flex-wrap: wrap;
        height: calc(100vh - 245px);
        @media (max-width:$md) {
            padding-right: 18px;
            padding-bottom: 7px;
            height: calc(100vh - 172px);
        }
        @media (max-width:$lg) {
            flex-wrap: nowrap;
            flex-direction: column;
        }
        @media (max-width:$xs) {
            padding-right: 0;
            height: calc(100vh - 260px);
        }
        &_big {
            .menuProcedures__li {
                &:not(:first-child) {
                    margin-top: 32px;
                    @media (max-width:$md) {
                        margin-top: 20px;
                    }
                    @media (max-width:$xs) {
                        margin-top: 14px;
                    }
                }
            }
            .menuProcedures__link {
                font-size: 34px;
                line-height: 46px;
                @media (max-width:$md) {
                    font-size: 22px;
                    line-height: 26px;
                }
                @media (max-width:$xs) {
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
    }
    &__box {
        width: 50%;
        padding-right: 40px;
        @media (max-width:$md) {
            padding-right: 25px;
        }
        @media (max-width:$lg) {
            width: 100%;
        }
        @media (max-width:$xs) {
            padding-right: 0;
        }
    }
    &__li {
        &:not(:first-child) {
            margin-top: 20px;
            @media (max-width:$md) {
                margin-top: 10px;
            }
            @media (max-width:$xs) {
                margin-top: 14px;
            }
        }
    }
    &__link {
        font-size: 22px;
        line-height: 38px;
        color: $black;
        transition: $transition;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
        &:hover {
            color: $dolceColor;
        }
        &:active {
            color: $activeColor;
        }
    }
    .header__box {
        margin-left: -20px;
        margin-right: -16px;
        @media (max-width:$md) {
            margin-left: -2px;
            margin-right: 0;
        }
    }
}
.menuMiddle, .menuProcedures {
    @media (max-width:$xs) {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        background: $white;
        transform: translateX(110%) !important;
        transition: all .8s;
    }
}
.headerSearch {
    position: absolute;
    right: 139px;
    @media (max-width:$md) {
        right: 121px;
    }
    @media (max-width:$xs) {
        right: 95px;
    }
    &__content {
        position: relative;
    }
    &__wrapper {
        width: 30px;
        overflow: hidden;
        transition: all .5s;
        &.show {
            width: 770px;
            @media (max-width:$md) {
                width: 418px;
            }
            @media (max-width:$lg) {
                width: 350px;
            }
            input {
                opacity: 1;
                padding-left: 73px;
                padding-right: 62px;
                background: $bgCold;
                @media (max-width:$md) {
                    padding-left: 60px;
                    padding-right: 55px;
                }
                @media (max-width:$lg) {
                    padding-left: 50px;
                    padding-right: 48px;
                }
            }
            .headerSearch {
                &__loupe {
                    left: 24px;
                    @media (max-width:$md) {
                        left: 17px;
                    }
                }
                &__cross {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
            .headerSearch__loupe {
                top: 16px;
                @media (max-width:$md) {
                    top: 13px;
                }
            }
        }
    }
    &__input {
        input {
            opacity: 0;
            padding: 0;
            width: 100%;
            height: 62px;
            font-size: 22px;
            color: $black;
            background: transparent;
            border-radius: 50px;
            border: none;
            transition: all .5s;
            @include placeholder(22px, $blackLight2, 'SuisseIntl');
            @media (max-width:$md) {
                height: 46px;
                font-size: 14px;
                @include placeholder(14px, $blackLight2, 'SuisseIntl');
            }
        }
    }
    &__loupe {
        position: absolute;
        top: 18px;
        left: 0;
        z-index: 1;
        cursor: pointer;
        transition: all .5s;
        @media (max-width:$md) {
            left: 8px;
            top: 15px;
        }
        svg {
            @media (max-width:$md) {
                zoom: .7;
            }
        }
    }
    &__cross {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        transition: all .5s;
        @media (max-width:$md) {
            top: 14px;
        }
        svg {
            @media (max-width:$md) {
                zoom: .8;
            }
        }
    }
}
.searchContextual {
    position: absolute;
    top: 73px;
    left: 0;
    width: 770px;
    height: 563px;
    background: $white;
    border: 1px solid rgba(23, 23, 25, 0.4);
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-30px);
    transition: $transition5;
    @media (max-width:$md) {
        top: 57px;
        width: 418px;
        height: calc(100vh - 130px);
    }
    @media (max-width:$lg) {
        top: 55px;
        width: 350px;
        height: calc(100vh - 260px);
    }
    &__content {
        position: relative;
        padding-top: 20px;
        padding-right: 20px;
        height: 100%;
        &:after,
        &:before {
            content:'';
            position: absolute;
            right: 30px;
            left: 0;
            height: 20px;
        }
        &:before {
            top: 15px;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            @media (max-width:$md) {
                top: 10px;
            }
        }
        &:after {
            bottom: 0;
            background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
    &__scroll {
        padding-right: 20px;
        height: 100%;
    }
    &__list {
        padding-bottom: 15px;
    }
    &__box {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }
    &__category {
        padding-left: 40px;
        font-size: 22px;
        line-height: 38px;
        color: $black;
        @media (max-width:$md) {
            padding-left: 20px;
            font-size: 22px;
            line-height: 26px;
        }
    }
    &__products {
        margin-top: 10px;
    }
    &__item {
        padding: 11px 10px 11px 40px;
        display: flex;
        align-items: center;
        height: 72px;
        background: transparent;
        transition: $transition;
        @media (max-width:$md) {
            padding: 11px 10px 11px 20px;
        }
        &:hover {
            background: $bgGrey;
        }
        &:active {
            background: $bgCold;
        }
    }
    &__img {
        width: 50px;
        height: 50px;
        @extend %imgBg;
    }
    &__name {
        margin-left: 20px;
        font-size: 16px;
        line-height: 24px;
        color: $black;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
    }
    &.show {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0px);
    }
}
.menuContacts {
    position: fixed;
    padding-top: 60px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffffffeb;
    z-index: 10;
    transform: translateY(-100%);
    opacity: 0;
    border-radius: 100% 100% 100% 100% / 10% 10% 20% 20%;
    transition: transform .7s, border-radius 1s, opacity 2s;
    pointer-events: none;
    &__content {
        background: $bgCold;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform .7s .8s, opacity 2s .8s;
    }
    &__box {
        padding: 20px 30px;
    }
    &__link {
        display: inline-flex;
        align-items: center;
        svg {
            margin-right: 22px;
            position: relative;
            top: -3px;
        }
        span {
            font-size: 16px;
            line-height: 48px;
            color: $black
        }
    }
}