.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: transform .8s;
    z-index: 10;
    &__container {
        padding: 0 40px;
        @media (max-width:$md) {
            padding-left: 26px;
            padding-right: 23px;
        }
        @media (max-width:$lg) {
            padding-left: 21px;
            padding-right: 16px;
        }
    }
    &__content {
        padding: 21px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:$md) {
            padding: 10px 0;
        }
    }
    &__box {
        padding-left: 46px;
        display: flex;
        justify-content: space-between;
        @media (max-width:$md) {
            padding-left: 63px;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        &_btns {
            margin-left: 58px;
            @media (max-width:$md) {
                margin-left: 41px;
            }
        }
        &_basket {
            margin-left: 58px;
            @media (max-width:$md) {
                margin-left: 38px;
            }
        }
    }
    &__logo {
        transition: $transition;
        svg {
            @media (max-width:$md) {
                width: 142px;
                height: 20px;
            }
            @media (max-width:$lg) {
                width: 135px;
                height: 19px;
            }
        }
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
    }
    &__tel {
        font-size: 24px;
        line-height: 38px;
        color: $black;
        @extend %link;
        @media (max-width:$md) {
            font-size: 16px;
            line-height: 28px;
        }
    }
    &__basket {
        &:hover {
            svg {
                path {
                    stroke: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    stroke: $activeColor;
                }
            }
        }
        svg {
            @media (max-width:$md) {
                width: 25px;
                height: 25px;
            }
            path {
                transition: $transition;
            }
        }
    }
    &__btn {
        width: 234px;
        height: 58px;
        @media (max-width:$md) {
            width: 144px;
            height: 38px;
        }
    }
    &__certificate {
        margin-left: 30px;
        font-size: 20px;
        line-height: 28px;
        color: $dolceColor;
        transition: $transition;
        @media (max-width:$md) {
            margin-left: 20px;
            font-size: 14px;
            line-height: 16px;
        }
        &:hover {
            color: $black;
        }
        &:active {
            color: $activeColor;
        }
    }
    &_first {
        .header__box {
            width: 627px;
            @media (max-width:$md) {
                width: 449px;
            }
            @media (max-width:$lg) {
                width: 374px;
            }
        }
        .header__content {
            padding: 37px 0 18px;
            @media (max-width:$lg) {
                padding: 20px 0;
            }
        }
        .header__wrapper {
            &_basket {
                margin-left: 0;
            }
        }
        .headerSocial {
            @media (max-width:$lg) {
                margin-left: 11px;
            }
        }
        .hamburger {
            @media (max-width:$md) {
                margin-left: 20px;
            }
            @media (max-width:$lg) {
                margin-left: 12px;
            }
        }
    }
    &_main {
        position: fixed;
        background: $white;
    }
    &.hide {
        transform: translateY(-100%);
    }
}
.headerSocial {
    margin-left: 20px;
    display: flex;
    gap: 8px;
    @media (max-width:$lg) {
        margin-left: 21px;
        gap: 10px;
    }
    &__link {
        display: block;
        &:hover {
            svg {
                path {
                    fill: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    fill: $activeColor;
                }
            }
        }
    }
    svg {
        @media (max-width:$md) {
            width: 26px;
            height: 26px;
        }
        path {
            transition: $transition;
        }
    }
}
.hamburger {
    margin-left: 26px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
    transition: $transition;
    @media (max-width:$md) {
        margin-left: 28px;
        width: 40px;
        height: 40px;
    }
    @media (max-width:$lg) {
        margin-left: 35px;
    }
    &:hover {
        background: $bgGrey;
    }
    &:active {
        background: $bgCold;
    }
    &__box {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 12px;
        &:after,
        &:before {
            display: block;
            content: "";
            position: absolute;
            width: 28px;
            height: 2px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: $black;
        }
        &:before {
            top: -1px;
            transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }
        &:after {
            top: 11px;
            transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }
    }
    &.active {
        .hamburger__box {
            &:before {
                top: -4px;
                transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
                transform: translate3d(0,10px,0) rotate(45deg);
            }
            &:after {
                top: -4px;
                transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
                transform: translate3d(0,10px,0) rotate(-45deg);
            }
        }
    }
}
.headerMenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;
    z-index: 5;
    transform: translateY(-100%);
    opacity: 0;
    overflow-y: scroll;
    border-radius: 100% 100% 100% 100% / 10% 10% 20% 20%;
    transition: transform .9s, border-radius 1s, opacity 2s;
    &__content {
        display: flex;
        height: 100%;
        padding-right: 56px;
        @media (max-width:$md) {
            padding-right: 31px;
        }
    }
    &__container {
        height: 100%;
        padding-top: 189px;
        padding-bottom: 70px;
        @media (max-width:$md) {
            padding-top: 133px;
            padding-bottom: 44px;
        }
    }
}
.menuMain {
    position: relative;
    width: calc(100% - 444px);
    min-width: 474px;
    height: 100%;
    @media (max-width:$md) {
        width: calc(100% - 784px);
        min-width: 400px;
    }
    &:after {
        content:'';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $bgCold;
        z-index: -1;
        transform: translateY(-50%);
        opacity: 0;
        transition: transform .9s .5s, opacity 1s .5s;
    }
    &__content {
        padding-left: 138px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width:$md) {
            padding-left: 80px
        }
    }
    &__ul {
        &_big {
            transform: translateY(-30px);
            opacity: 0;
            transition: transform .9s 1.2s, opacity 1s 1.2s;
            .menuMain__li {
                font-size: 34px;
                line-height: 40px;
                @media (max-width:$md) {
                    font-size: 22px;
                    line-height: 26px;
                }
                &:not(:first-child) {
                    margin-top: 30px;
                    @media (max-width:$md) {
                        margin-top: 20px;
                    }
                }
            }
        }
        &_small {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            transform: translateY(-30px);
            opacity: 0;
            transition: transform .9s 1.4s, opacity 1s 1.4s;
            @media (max-width:$md) {
                margin-top: 32px;
            }
            .menuMain__li {
                flex: none;
                width: 168px;
                font-size: 20px;
                line-height: 42px;
                @media (max-width:$md) {
                    width: 116px;
                    font-size: 14px;
                    line-height: 32px;
                }
            }
        }
    }
    &__span {
        position: relative;
        cursor: pointer;
        color: $black;
        transition: $transition;
        &:hover {
            color: $dolceColor;
            &:after {
                opacity: 1;
                background: $dolceColor;
            }
        }
        &:active {
            &:after {
                opacity: 0;
            }
        }
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: -9px;
            left: 0;
            height: 1px;
            background: $black;
            transition: $transition;
            opacity: 0;
            pointer-events: none;
            @media (max-width:$md) {
                bottom: -5px;
            }
        }
        &.active {
            pointer-events: none;
            &:after {
                opacity: 1;
            }
        }
    }
    &__link {
        color: $black;
        transition: $transition;
        &:hover {
            color: $dolceColor;
        }
        &:active {
            color: $activeColor;
        }
    }
}
.menuMainSocial {
    display: flex;
    align-items: center;
    gap: 0 37px;
    transform: translateY(-30px);
    opacity: 0;
    transition: transform .9s 1.6s, opacity 1s 1.6s;
    @media (max-width:$md) {
        gap: 0 20px;
    }
    &__link {
        display: block;
        &:hover {
            svg {
                path {
                    fill: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    fill: $activeColor;
                }
            }
        }
    }
    svg {
        @media (max-width:$md) {
            zoom: .73;
        }
        path {
            fill: $black;
            transition: $transition;
        }
    }
}
.menuMiddle {
    margin-left: 58px;
    width: 274px;
    flex: none;
    @media (max-width:$md) {
        margin-left: 39px;
        width: 200px;
    }
    &__content {
        display: flex;
        gap: 0 40px;
        @media (max-width:$md) {
            gap: 0 45px;
            padding-top: 137px;
        }
    }
    &__list {
        &:nth-child(1) {
            transform: translateY(-30px);
            opacity: 0;
            transition: transform .9s 1.7s, opacity 1s 1.7s;
        }
        &:nth-child(2) {
            margin-left: 22px;
            transform: translateY(-30px);
            opacity: 0;
            transition: transform .9s 1.8s, opacity 1s 1.8s;
            @media (max-width:$md) {
                margin-left: 0;
            }
            .menuMiddle__span {
                &.active {
                    color: $black;
                    &:after {
                        background: $bgCold;
                    }
                }
            }
        }
    }
    &__li {
        &:not(:first-child) {
            margin-top: 16px;
            @media (max-width:$md) {
                margin-top: 20px;
            }
        }
    }
    &__span {
        position: relative;
        font-size: 20px;
        line-height: 48px;
        color: $black;
        cursor: pointer;
        transition: $transition;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
        &:hover {
            &:after {
                opacity: 1;
                background: $bgCold;
            }
        }
        &:active {
            &:after {
                background: $bgGrey;
            }
        }
        &:after {
            content:'';
            position: absolute;
            top: -16px;
            right: -20px;
            left: -20px;
            height: 48px;
            border-radius: 50px;
            opacity: 0;
            pointer-events: none;
            z-index: -1;
            transition: $transition;
            @media (max-width:$md) {
                top: -12px;
                right: -12px;
                left: -12px;
                height: 34px;
            }
        }
        &.active {
            color: $white;
            pointer-events: none;
            &:after {
                opacity: 1;
                pointer-events: auto;
                background: $black;
            }
        }
    }
}
.menuProcedures {
    margin-left: 97px;
    width: 100%;
    transform: translateY(-30px);
    opacity: 0;
    transition: transform .9s 2s, opacity 1s 2s;
    @media (max-width:$md) {
        margin-left: 62px;
    }
    &__content {
        position: relative;
        padding-top: 0 !important;
        margin-top: 189px;
        padding-bottom: 0 !important;
        margin-bottom: 70px;
        height: auto;
        @media (max-width:$md) {
            margin-top: 128px;
            margin-bottom: 44px;
        }
        &:after,
        &:before {
            content:'';
            position: absolute;
            right: 20px;
            left: 0;
            height: 16px;
        }
        &:before {
            top: 0;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        }
        &:after {
            bottom: 0;
            background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
    &__list {
        padding-top: 9px;
        padding-right: 66px;
        display: flex;
        flex-wrap: wrap;
        height: calc(100vh - 259px);
        overflow: hidden;
        overflow-y: scroll;
        @media (max-width:$md) {
            padding-right: 18px;
            padding-bottom: 7px;
            height: calc(100vh - 172px);
        }
        &_big {
            .menuProcedures__li {
                &:not(:first-child) {
                    margin-top: 32px;
                    @media (max-width:$md) {
                        margin-top: 20px;
                    }
                }
            }
            .menuProcedures__link {
                font-size: 34px;
                line-height: 46px;
                @media (max-width:$md) {
                    font-size: 22px;
                    line-height: 26px;
                }
            }
        }
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $black;
            border-radius: 0;
            transition: $transition;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #171719cc;
        }
        &::-webkit-scrollbar-thumb:active {
            background-color: #17171999;
        }
    }
    &__box {
        width: 50%;
        padding-right: 40px;
        @media (max-width:$md) {
            padding-right: 25px;
        }
    }
    &__li {
        &:not(:first-child) {
            margin-top: 20px;
            @media (max-width:$md) {
                margin-top: 10px;
            }
        }
    }
    &__link {
        font-size: 20px;
        line-height: 30px;
        color: $black;
        transition: $transition;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
        &:hover {
            color: $dolceColor;
        }
        &:active {
            color: $activeColor;
        }
    }
}