@import "../modules/utilities/_variables.scss";
@import "../modules/utilities/_mixins.scss";

.catalogCards {
    position: relative;
    margin-top: 70px;
    @media (max-width:$md) {
        margin-top: 44px;
    }
    @media (max-width:$xs) {
        margin-top: 40px;
    }
    &__content {
        padding-right: 339px;
        transition: $transition;
        @extend %indentLeft;
        @media (max-width:$md) {
            padding-right: 206px;
        }
        @media (max-width:$lg) {
            padding-right: 196px;
        }
        @media (max-width:$xs) {
            padding-right: 30px;
        }
        &_procedure {
            .catalogCards__list {
                margin-top: 70px;
                @media (max-width:$md) {
                    margin-top: 44px;
                }
                @media (max-width:$xs) {
                    margin-top: 40px;
                }
            }
        }
        &_apparatus {
            .catalogCards__list {
                @media (max-width:$lg) {
                    gap: 30px 34px;
                }
            }
        }
        &.hide {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            transform: translateX(-100px);
            transition: $transition;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        @media (max-width:$md) {
            gap: 40px;
        }
        @media (max-width:$lg) {
            gap: 40px 34px;
        }
        @media (max-width:$xs) {
            gap: 40px 0;
        }
        &.hide {
            display: none;
        }
    }
    &__btn {
        margin: 70px auto 0;
        width: 415px;
        height: 80px;
        @media (max-width:$md) {
            margin-top: 44px;
            width: 277px;
            height: 50px;
        }
        @media (max-width:$lg) {
            width: 219px;
        }
        @media (max-width:$xs) {
            width: 100%;
        }
    }
}
.card {
    width: 416px;
    @media (max-width:$md) {
        width: 277px;
    }
    @media (max-width:$lg) {
        width: 218px;
    }
    @media (max-width:$xs) {
        width: 100%;
    }
    &__img {
        display: block;
        width: 100%;
        height: 280px;
        @extend %imgBg;
        transition: $transition;
        @media (max-width:$md) {
            height: 187px;
        }
        @media (max-width:$lg) {
            height: 148px;
        }
        @media (max-width:$xs) {
            height: 214px;
        }
    }
    &__content {
        margin-top: 20px;
    }
    &__title {
        font-size: 22px;
        line-height: 38px;
        color: $black;
        transition: $transition;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
    }
    &__cost {
        font-size: 22px;
        line-height: 38px;
        color: $black;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
        &_discount {
            display: flex;
            gap: 0 20px;
            @media (max-width:$md) {
                gap: 0 15px;
            }
            span {
                &:first-child {
                    color: $dolceColor;
                }
                &:last-child {
                    position: relative;
                    color: $blackLight2;
                    &:after {
                        content: '';
                        position: absolute;
                        margin-top: -1px;
                        top: 50%;
                        right: -2px;
                        left: -2px;
                        height: 1px;
                        background: $blackLight2;
                    }
                }
            }
        }
    }
    &__composition {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    &__device {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 3px solid $white;
        @extend %imgBg;
        @media (max-width:$md) {
            width: 60px;
            height: 60px;
        }
        &:not(:first-child) {
            margin-left: -20px;
        }
    }
    &__program {
        margin-top: 20px;
        font-size: 22px;
        line-height: 38px;
        color: $blackLight2;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
    }
    &_brend {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        background: $bgCosmetic;
        transition: $transition;
        @media (max-width:$md) {
            height: 100px;
        }
        @media (max-width:$lg) {
            height: 79px;
        }
        &:hover {
            background: $bgCold;
        }
        &:active {
            background: #f0f0f0;
        }
        img {
            max-width: 70%;
            max-height: 70%;
        }
    }
    &.hover {
        .card__img {
            opacity: .8;
        }
        .card__title {
            color: $dolceColor;
        }
    }
    &.active {
        .card__img {
            opacity: .6;
        }
        .card__title {
            color: $activeColor;
        }
    }
}
.textInfo {
    margin-top: 140px;
    @media (max-width:$md) {
        margin-top: 90px;
    }
    @media (max-width:$xs) {
        margin-top: 70px;
    }
    &__content {
        max-width: 64vw;
        @extend %indentLeft;
        @media (max-width:$xs) {
            padding-right: 30px;
            max-width: 100vw;
        }
    }
    &__title {
        font-size: 56px;
        line-height: 62px;
        color: $black;
        @media (max-width:$md) {
            font-size: 36px;
            line-height: 40px;
        }
        @media (max-width:$xs) {
            font-size: 28px;
            line-height: 36px;
        }
    }
    &__txt {
        margin-top: 50px;
        font-size: 24px;
        line-height: 44px;
        color: $black;
        @media (max-width:$md) {
            margin-top: 32px;
            font-size: 14px;
            line-height: 26px;
        }
        @media (max-width:$xs) {
            margin-top: 20px;
            font-size: 14px;
            line-height: 24px;
        }
        p {
            &:not(:first-child) {
                margin-top: 28px;
                @media (max-width:$md) {
                    margin-top: 22px;
                }
                @media (max-width:$xs) {
                    margin-top: 10px;
                }
            }
        }
    }
}
.sampleDetailed {
    margin-top: 40px;
    @media (max-width:$md) {
        margin-top: 32px;
    }
    &__content {
        position: relative;
        width: 890px;
        @media (max-width:$md) {
            width: 540px;
        }
        @media (max-width:$lg) {
            width: 558px;
        }
        @media (max-width:$xs) {
            width: 100%;
        }
    }
    &__selected {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        width: 100%;
        height: 68px;
        border: 1px solid $blackLight2;
        border-radius: 50px;
        cursor: pointer;
        transition: $transition;
        @media (max-width:$md) {
            height: 54px;
            font-size: 14px;
            line-height: 26px;
            overflow: hidden;
        }
        @media (max-width:$xs) {
            position: relative;
            align-items: center;
            padding-top: 2px;
        }
        &:after {
            @media (max-width:$xs) {
                content: "";
                position: absolute;
                top: 0;
                right: 44px;
                bottom: 0;
                width: 20px;
                background: linear-gradient(-90deg,#FFFFFF 0,rgba(217,235,239,0) 100%);
            }
        }
        span {
            font-size: 22px;
            line-height: 38px;
            color: $black;
            @media (max-width:$md) {
                font-size: 14px;
                line-height: 26px;
            }
            @media (max-width:$xs) {
                max-width: 92%;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        &:hover {
            border: 1px solid $dolceColor;
        }
        &:active {
            border: 1px solid $activeColor;
        }
        svg {
            pointer-events: none;
            transition: $transition;
            @media (max-width:$md) {
                zoom: .8;
            }
        }
        @media (max-width:$lg) {
            height: 46px;
        }
    }
    &__drop {
        width: 100%;
        @media (max-width:$md) {
            top: 66px;
        }
        @media (max-width:$lg) {
            top: 56px;
        }
        &.hide {
            display: none;
        }
    }
    &.show {
        .sampleHeader__drop {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0px);
        }
        .sampleDetailed__selected {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}