@import "../modules/utilities/_variables.scss";
@import "_slick.scss";
@import "animate.min.css";

.mainSlider {
    &__container {
        position: relative;
        display: flex;
        height: 100vh;
    }
    &__img {
        width: calc(100% - 673px);
        height: 100vh;
        @extend %imgBg;
        @media (max-width:$md) {
            width: calc(100% - 449px);
        }
        @media (max-width:$lg) {
            width: calc(100% - 360px);
        }
    }
    &__content {
        flex: none;
        padding: 198px 128px 70px 60px;
        width: 673px;
        max-height: 88vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width:$md) {
            padding: 142px 30px 46px 40px;
            width: 449px;
            max-height: 91.5vh;
        }
        @media (max-width:$lg) {
            padding: 128px 22px 46px 34px;
            width: 360px;
        }
    }
    &__item {
        display: flex !important;
        height: 100%;
        max-width: 100%;
    }
    &__title {
        font-size: 66px;
        line-height: 72px;
        color: $black;
        @media (max-width:$md) {
            font-size: 44px;
            line-height: 50px;
        }
        @media (max-width:$lg) {
            max-width: 96%;
            font-size: 34px;
            line-height: 40px;
        }
    }
    &__text {
        margin-top: 50px;
        font-size: 24px;
        line-height: 38px;
        color: $black;
        @media (max-width:$md) {
            margin-top: 32px;
            font-size: 16px;
            line-height: 28px;
        }
        @media (max-width:$lg) {
            margin-top: 34px;
            font-size: 16px;
            line-height: 28px;
        }
    }
    &__btn {
        width: 311px;
        height: 76px;
        @media (max-width:$md) {
            width: 206px;
            height: 50px;
        }
    }
    .slick-dots {
        position: absolute;
        bottom: 70px;
        left: calc(100% - 612px);
        display: flex;
        gap: 0 50px;
        @media (max-width:$md) {
            bottom: 45px;
            left: calc(100% - 409px);
            gap: 0 39px;
        }
        @media (max-width:$lg) {
            left: calc(100% - 326px);
        }
        li {
            width: 10px;
            height: 10px;
            background: $blackLight2;
            border-radius: 50%;
            overflow: hidden;
            transition: $transition;
            @media (max-width:$md) {
                width: 8px;
                height: 8px;
            }
            &.slick-active {
                background: $black;
            }
            button {
                display: none;
            }
        }
    }
}
.mainDolce {
    margin-top: 200px;
    @media (max-width:$md) {
        margin-top: 128px;
    }
    &__about {
        position: relative;
        padding-left: 343px;
        @extend %indentRight;
        font-size: 66px;
        line-height: 72px;
        color: $black;
        @media (max-width:$md) {
            padding-left: 237px;
            padding-right: 110px;
            font-size: 44px;
            line-height: 50px;
        }
        @media (max-width:$lg) {
            padding-left: 191px;
            font-size: 34px;
            line-height: 40px;
            overflow-x: hidden;
        }
        &.show {
            &:after {
                transform: translateX(100%);
            }
        }
        &:after {
            content:'';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $white;
            transition: all 1.5s;
        }
    }
    &__content {
        margin-top: 200px;
        @media (max-width:$md) {
            margin-top: 128px;
        }
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        &:not(:first-child) {
            margin-top: 200px;
            @media (max-width:$md) {
                margin-top: 128px;
            }
        }
        &_right {
            .mainDolce__wrapper {
                @extend %indentRight;
            }
            .mainDolce__box {
                margin-left: 60px;
                @media (max-width:$md) {
                    margin-left: 40px;
                }
                @media (max-width:$lg) {
                    margin-left: 35px;
                }
            }
        }
        &_left {
            .mainDolce__wrapper {
                @extend %indentLeft;
            }
            .mainDolce__box {
                margin-right: 60px;
                @media (max-width:$md) {
                    margin-right: 40px;
                }
                @media (max-width:$lg) {
                    margin-right: 35px;
                }
            }
        }
        &.show {
            .mainDolce__mask {
                width: 0;
            }
            .mainDolce__picture {
                .mainDolce__img {
                    background-position: 0 -70px;
                    @media (max-width:$lg) {
                        background-position: center -70px;
                    }
                }
            }
            .mainDolce__box {
                transform: translateY(0);
            }
        }
    }
    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: $white;
        transition: width 1.1s;
    }
    &__box {
        position: relative;
        width: 40.2%;
        z-index: 1;
        transform: translateY(100%);
        transition: transform 1s;
        transition-delay: .7s;
        @media (max-width:$md) {
            width: 40.7%;
        }
        @media (max-width:$lg) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__img {
        flex: none;
        @extend %imgBg;
    }
    &__small {
        position: relative;
        margin-top: 99px;
        width: 100%;
        height: 542px;
        @media (max-width:$md) {
            margin-top: 64px;
            height: 360px;
        }
        @media (max-width:$lg) {
            height: 287.51px;
        }
    }
    &__picture {
        flex: none;
        width: calc(100% - 44%);
        height: calc(100vh - 100px);
        position: sticky;
        top: 100px;
        right: 0;
        overflow: hidden;
        @media (max-width:$md) {
            top: 60px;
            width: calc(100% - 45%);
            height: calc(100vh - 60px);
        }
        @media (max-width:$lg) {
            width: calc(100% - 43.6%);
        }
        .mainDolce__img {
            background-position: 0 0;
            transition: background-position 1.5s;
            @media (max-width:$lg) {
                background-position: center 0;
            }
        }
    }
    &__big {
        width: 100%;
        height: 112%;
    }
    &__title {
        font-size: 56px;
        line-height: 62px;
        color: $black;
        @media (max-width:$md) {
            font-size: 36px;
            line-height: 40px;
        }
        @media (max-width:$lg) {
            font-size: 28px;
            line-height: 36px;
        }
    }
    &__text {
        margin-top: 50px;
        font-size: 20px;
        line-height: 34px;
        color: $black;
        @media (max-width:$md) {
            margin-top: 32px;
            font-size: 14px;
            line-height: 26px;
        }
    }
    &__all {
        margin-top: 50px;
        @media (max-width:$md) {
            margin-top: 32px;
        }
    }
    &__link {
        position: relative;
        font-size: 20px;
        line-height: 34px;
        font-weight: 500;
        color: $black;
        transition: $transition;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
        &:hover {
            color: $dolceColor;
            &:after {
                background: $dolceColor;
            }
        }
        &:active {
            color: $activeColor;
            &:after {
                background: $activeColor;
            }
        }
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: -4px;
            left: 0;
            height: 1px;
            background: $blackLight2;
            transition: $transition;
            @media (max-width:$md) {
                bottom: -7px;
            }
        }
    }
    &__video {
        position: absolute;
        top: 40px;
        right: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 96px;
        height: 96px;
        border: 2px solid $black;
        border-radius: 50%;
        transition: $transition;
        @media (max-width:$md) {
            top: 20px;
            right: 20px;
            width: 56px;
            height: 56px;
            border: 1px solid $black;
        }
        @media (max-width:$lg) {
            top: 10px;
            right: 10px;
        }
        &:hover {
            opacity: .8;
        }
        &:active {
            opacity: .6;
        }
        svg {
            @media (max-width:$md) {
                zoom: 0.5;
            }
        }
    }
}
.moreDolce {
    margin-top: 200px;
    @media (max-width:$md) {
        margin-top: 128px;
    }
    &__content {
        display: flex;
        padding-right: 25px;
        @extend %indentLeft;
        @media (max-width:$lg) {
            padding-right: 22px;
        }
    }
    &__box {
        padding-top: 192px;
        @media (max-width:$md) {
            padding-top: 120px;
        }
        @media (max-width:$lg) {
            padding-top: 91px;
        }
    }
    &__title {
        max-width: 634px;
        font-size: 100px;
        line-height: 100px;
        color: $black;
        @media (max-width:$md) {
            max-width: 420px;
            font-size: 64px;
            line-height: 64px;
        }
        @media (max-width:$lg) {
            max-width: 340px;
            font-size: 54px;
            line-height: 54px;
        }
    }
    &__all {
        margin-top: 93px;
        @media (max-width:$md) {
            margin-top: 63px;
        }
    }
    &__pictures {
        position: sticky;
        top: 100px;
        right: 0;
        display: flex;
        margin-left: 158px;
        padding-bottom: 80px;
        @media (max-width:$md) {
            margin-left: 40px;
        }
        @media (max-width:$lg) {
            margin-left: 36px;
        }
        &:after {
            content:'';
            position: absolute;
            top: 178px;
            right: 160px;
            width: 415px;
            height: 554px;
            background: $bgSkin;
            @media (max-width:$md) {
                top: 118px;
                right: 213px;
                width: 277px;
                height: 370px;
            }
            @media (max-width:$lg) {
                top: 94px;
                right: 168px;
                width: 220.57px;
                height: 294.62px;
            }
        }
    }
    &__img {
        position: relative;
        width: 415px;
        height: 554px;
        z-index: 1;
        @extend %imgBg;
        @media (max-width:$md) {
            width: 277px;
            height: 370px;
        }
        @media (max-width:$lg) {
            width: 220.57px;
            height: 294.62px;
        }
        &_left {
            margin-top: 100px;
            @media (max-width:$md) {
                margin-top: 68px;
            }
            @media (max-width:$lg) {
                margin-top: 53px;
            }
        }
        &_right {
            margin-left: 60px;
            @media (max-width:$md) {
                margin-left: 40px;
            }
            @media (max-width:$lg) {
                margin-left: 32px;
            }
        }
    }
}
.signConsultation {
    position: relative;
    margin-top: 282px;
    @media (max-width:$md) {
        margin-top: 268px;
    }
    @media (max-width:$lg) {
        margin-top: 217px;
    }
    &__content {
        width: 660px;
        @extend %indentLeft;
        @media (max-width:$md) {
            width: 488px;
        }
        @media (max-width:$lg) {
            width: 387px;
        }
    }
    &__title {
        font-size: 56px;
        line-height: 62px;
        color: $black;
        @media (max-width:$md) {
            font-size: 36px;
            line-height: 40px;
        }
        @media (max-width:$lg) {
            font-size: 30px;
            line-height: 34px;
        }
    }
    &__form {
        width: 574px;
        @media (max-width:$md) {
            width: 488px;
        }
        @media (max-width:$lg) {
            width: 387px;
        }
    }
    &__fileds {
        margin-top: 48px;
        @media (max-width:$md) {
            margin-top: 13px;
        }
    }
    &__bottom {
        margin-top: 51px;
        @media (max-width:$md) {
            margin-top: 6px;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
        @media (max-width:$md) {
            gap: 21px;
        }
    }
    &__btn {
        width: 314px;
        height: 76px;
        @media (max-width:$md) {
            width: 208px;
            height: 50px;
        }
    }
    &__info {
        font-size: 20px;
        line-height: 34px;
        color: $dolceColor;
        @media (max-width:$md) {
            max-width: 40%;
            font-size: 14px;
            line-height: 26px;
        }
    }
    &__privacy {
        margin-top: 50px;
        width: 50%;
        font-size: 16px;
        line-height: 24px;
        color: $blackLight2;
        @media (max-width:$md) {
            margin-top: 34px;
            width: 60%;
            font-size: 12px;
            line-height: 20px;
        }
        a {
            text-decoration: underline;
        }
    }
}
.aboutDolce {
    margin-top: 200px;
    @media (max-width:$md) {
        margin-top: 128px;
    }
    &__picture {
        width: 100%;
        height: 800px;
        @extend %imgBg;
        @media (max-width:$md) {
            height: 600px;
        }
        @media (max-width:$lg) {
            height: 480px;
        }
    }
    &__content {
        margin-top: 200px;
        display: flex;
        @extend %indentRight;
        @extend %indentLeft;
        @media (max-width:$md) {
            margin-top: 128px;
        }
    }
    &__main {
        width: 634px;
        flex: none;
        @media (max-width:$md) {
            width: 422px;
        }
        @media (max-width:$lg) {
            width: 339px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 100px 60px;
        @media (max-width:$md) {
            gap: 64px 35px;
        }
        @media (max-width:$lg) {
            gap: 68px 33px;
        }
    }
    &__item {
        width: 415px;
        @media (max-width:$md) {
            width: 272px;
        }
        @media (max-width:$lg) {
            width: 220px;
        }
    }
    &__title {
        font-size: 66px;
        line-height: 72px;
        color: $black;
        @media (max-width:$md) {
            font-size: 44px;
            line-height: 50px;
        }
        @media (max-width:$lg) {
            font-size: 28px;
            line-height: 36px;
        }
        span {
            display: block;
        }
    }
    &__description {
        margin-top: 50px;
        font-size: 20px;
        line-height: 34px;
        color: $black;
        @media (max-width:$md) {
            margin-top: 32px;
            font-size: 14px;
            line-height: 26px;
        }
    }
}
.specialist {
    margin-top: 202px;
    @media (max-width:$md) {
        margin-top: 128px;
    }
    @media (max-width:$lg) {
        margin-top: 166px;
    }
    &__content {
        @extend %indentLeft;
    }
    &__list {
        margin-top: 66px;
        margin-left: -30px;
        @media (max-width:$md) {
            margin-top: 41px;
            margin-left: -20px;
        }
        @media (max-width:$lg) {
            margin-top: 47px;
            margin-left: -17px;
        }
    }
    &__item {
        width: 534px !important;
        margin: 0 30px;
        @media (max-width:$md) {
            width: 356px !important;
            margin: 0 20px;
        }
        @media (max-width:$lg) {
            width: 304px !important;
            margin: 0 17px;
        }
        &.hover {
            .specialist__img {
                opacity: .8;
            }
            .specialist__title {
                color: $dolceColor;
            }
        }
        &.active {
            .specialist__img {
                opacity: .6;
            }
            .specialist__title {
                color: $activeColor;
            }
        }
    }
    &__img {
        flex: none;
        display: block;
        position: relative;
        width: 100%;
        height: 536px;
        background: $bgGrey;
        transition: $transition;
        @media (max-width:$md) {
            height: 356px;
        }
        @media (max-width:$lg) {
            height: 305px;
        }
    }
    &__people {
        width: 100%;
        height: 100%;
        @extend %imgBg;
    }
    &__box {
        margin-top: 50px;
        @media (max-width:$md) {
            margin-top: 34px;
        }
        @media (max-width:$lg) {
            margin-top: 33px;
        }
    }
    &__title {
        font-size: 24px;
        line-height: 38px;
        color: $black;
        transition: $transition;
        @media (max-width:$md) {
            font-size: 16px;
            line-height: 28px;
        }
    }
    &__text {
        margin-top: 6px;
        font-size: 24px;
        line-height: 38px;
        color: $blackLight2;
        @media (max-width:$md) {
            font-size: 16px;
            line-height: 28px;
        }
        span {
            display: block;
        }
    }
    &__arrows {
        display: flex;
        gap: 0 49px;
        @media (max-width:$md) {
            gap: 0 22px;
        }
    }
    &__prev {
        transform: rotate(180deg);
    }
    &__prev,
    &__next {
        cursor: pointer;
        &:hover {
            svg {
                path {
                    stroke: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    stroke: $activeColor;
                }
            }
        }
        svg {
            @media (max-width:$md) {
                width: 50px;
                height: 18px;
            }
            path {
                transition: $transition;
            }
        }
    }
    .heading {
        display: flex;
        justify-content: space-between;
        @extend %indentRight;
    }
}
.reviews {
    margin-top: 140px;
    padding: 140px 0;
    background: $bgGrey;
    @media (max-width:$md) {
        margin-top: 90px;
        padding: 93px 0;
    }
    @media (max-width:$lg) {
        margin-top: 128px;
    }
    &__content {
        @extend %indentRight;
        @extend %indentLeft;
    }
    &__list {
        margin-top: 70px;
        border-top: 1px solid $blackLight2;
        @media (max-width:$md) {
            margin-top: 41px;
        }
    }
    &__item {
        padding: 50px 100px 50px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $blackLight2;
        @media (max-width:$md) {
            padding: 32px 0 30px;
        }
        &.show {
            .reviews__recall {
                max-height: 100%;
            }
            .reviews__whole {
                svg {
                    transform: rotate(-180deg);
                }
            }
        }
    }
    &__box {
        max-width: 570px;
        @media (max-width:$md) {
            max-width: 370px;
        }
    }
    &__name {
        font-size: 34px;
        line-height: 40px;
        color: $black;
        @media (max-width:$md) {
            font-size: 22px;
            line-height: 26px;
        }
    }
    &__read {
        margin-top: 10px;
    }
    &__link {
        position: relative;
        font-size: 20px;
        line-height: 34px;
        font-weight: 500;
        color: $black;
        transition: $transition;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
        &:hover {
            color: $dolceColor;
            &:after {
                background: $dolceColor;
            }
        }
        &:active {
            color: $activeColor;
            &:after {
                background: $activeColor;
            }
        }
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            background: $blackLight2;
            transition: $transition;
            @media (max-width:$md) {
                bottom: -8px;
            }
        }
    }
    &__text {
        max-width: 791px;
        @media (max-width:$md) {
            max-width: 579px;
        }
        @media (max-width:$lg) {
            max-width: 473px;
        }
    }
    &__recall {
        max-height: 172px;
        font-size: 24px;
        line-height: 43px;
        color: $black;
        overflow: hidden;
        transition: $transition;
        @media (max-width:$md) {
            max-height: 112px;
            font-size: 16px;
            line-height: 28px;
        }
        @media (max-width:$lg) {
            max-height: 140px;
        }
    }
    &__all {
        margin-top: 30px;
        @media (max-width:$md) {
            margin-top: 21px;
        }
    }
    &__whole {
        display: inline-flex;
        align-items: center;
        gap: 0 20px;
        cursor: pointer;
        transition: $transition;
        @media (max-width:$md) {
            gap: 0 10px;
        }
        &:hover {
            span {
                color: $dolceColor;
            }
            svg {
                path {
                    stroke: $dolceColor;
                }
            }
        }
        &:active {
            span {
                color: $activeColor;
            }
            svg {
                path {
                    stroke: $activeColor;
                }
            }
        }
        span {
            font-size: 20px;
            line-height: 34px;
            font-weight: 500;
            color: $black;
            transition: $transition;
            @media (max-width:$md) {
                font-size: 14px;
                line-height: 26px;
            }
        }
        svg {
            @media (max-width:$md) {
                zoom: 0.6;
            }
            path {
                transition: $transition;
            }
        }
    }
    &__see {
        margin-top: 50px;
        margin-left: 634px;
        @media (max-width:$md) {
            margin-top: 32px;
            margin-left: 422px;
        }
        @media (max-width:$lg) {
            margin-left: 340px;
        }
    }
}
.guestCard {
    margin-top: 140px;
    @media (max-width:$md) {
        margin-top: 90px;
    }
    &__content {
        display: flex;
        @extend %indentRight;
    }
    &__bg {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1088px;
        height: 740px;
        background: linear-gradient(114.94deg, #D0E2E6 10.66%, #E5F7FB 91.05%);
        @media (max-width:$md) {
            width: 726px;
            height: 540px;
        }
        @media (max-width:$lg) {
            width: 580px;
            height: 540px;
        }
    }
    &__picture {
        width: 527.23px;
        height: 334px;
        @extend %imgBg;
        @media (max-width:$md) {
            position: relative;
            left: 29px;
            width: 352px;
            height: 227px;
        }
    }
    &__box {
        margin-left: 60px;
        @media (max-width:$md) {
            margin-left: 37px;
        }
        @media (max-width:$lg) {
            margin-left: 33px;
        }
    }
    &__list {
        margin-top: 100px;
        display: flex;
        gap: 0 30px;
        @media (max-width:$md) {
            margin-top: 63px;
            margin-left: 2px;
            gap: 0 20px;
        }
    }
    &__item {
        position: relative;
        padding: 30px;
        width: 250.73px;
        height: 183.45px;
        border: 1px solid $blackLight2;
        border-radius: 12px;
        cursor: pointer;
        transition: $transition;
        @media (max-width:$md) {
            width: 164px;
            height: 135.45px;
        }
        &:hover {
            background: $bgCosmetic;
            .guestCard__clue {
                opacity: 1;
                pointer-events: auto;
            }
            .guestCard__question {
                svg {
                    path {
                        fill: $black;
                    }
                    circle {
                        stroke: $black;
                    }
                }
            }
        }
        &:nth-child(2) {
            .guestCard__clue {
                @media (max-width:$md) {
                    width: 162px;
                }
                @media (max-width:$lg) {
                    width: 130px;
                }
            }
        }
    }
    &__question {
        position: absolute;
        top: 30px;
        right: 30px;
        @media (max-width:$md) {
            top: 20px;
            right: 20px;
        }
        svg {
            @media (max-width:$md) {
                width: 24px;
                height: 24px;
            }
            path,
            circle {
                transition: $transition;
            }
        }
    }
    &__discount {
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-size: 28px;
        line-height: 40px;
        color: $black;
        @media (max-width:$md) {
            bottom: 20px;
            left: 20px;
            font-size: 18px;
            line-height: 26px;
        }
        span {
            display: block;
        }
    }
    &__clue {
        padding: 20px;
        width: 263px;
        position: absolute;
        bottom: 90%;
        left: 76%;
        font-size: 16px;
        line-height: 24px;
        color: $black;
        background: $white;
        border: 1px solid rgba(23, 23, 25, 0.4);
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: $transition;
        @media (max-width:$lg) {
            padding: 10px;
            left: 50%;
            width: 210px;
            font-size: 14px;
            line-height: 22px;
        }
    }
    &__benefits {
        margin-top: 70px;
        @media (max-width:$md) {
            margin-top: 44px;
        }
    }
    &__li {
        font-size: 20px;
        line-height: 34px;
        color: $black;
        @media (max-width:$md) {
            font-size: 14px;
            line-height: 26px;
        }
        @media (max-width:$lg) {
            line-height: 24px;
            display: flex;
        }
        &:not(:first-child) {
            margin-top: 9px;
            @media (max-width:$md) {
                margin-top: 1px;
            }
            @media (max-width:$lg) {
                margin-top: 9px;
            }
        }
        span {
            margin-right: 20px;
            @media (max-width:$md) {
                margin-right: 18px;
            }
            @media (max-width:$lg) {
                display: block;
            }
        }
    }
}
.blogArticles {
    margin-top: 140px;
    @media (max-width:$md) {
        margin-top: 90px;
    }
    &__content {
        position: relative;
        display: flex;
        @extend %indentRight;
        @extend %indentLeft;
    }
    &__wrapper {
        flex: none;
        width: 634px;
        @media (max-width:$md) {
            width: 421px;
        }
        @media (max-width:$lg) {
            width: 340px;
        }
    }
    &__item {
        width: 415px;
        @media (max-width:$md) {
            width: 277px;
        }
        @media (max-width:$lg) {
            width: 220px;
        }
        &:first-child {
            width: 790px;
            @media (max-width:$md) {
                width: 523.76px;
            }
            @media (max-width:$lg) {
                width: 423px;
            }
            .blogArticles__img {
                height: 543px;
                @media (max-width:$md) {
                    height: 360px;
                }
                @media (max-width:$lg) {
                    height: 290px;
                }
            }
            .blogArticles__title {
                max-width: 80%;
                @media (max-width:$lg) {
                    max-width: 90%;
                }
            }
        }
        &.hover {
            .blogArticles__img {
                opacity: .8;
            }
            .blogArticles__link {
                color: $dolceColor;
            }
        }
        &.active {
            .blogArticles__img {
                opacity: .6;
            }
            .blogArticles__link {
                opacity: .8;
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 100px 60px;
        @media (max-width:$md) {
            margin-right: -14px;
            gap: 65px 40px;
        }
        @media (max-width:$lg) {
            margin-right: 0;
            gap: 62px 32px;
        }
    }
    &__img {
        display: block;
        width: 100%;
        height: 292px;
        transition: $transition;
        @extend %imgBg;
        @media (max-width:$md) {
            height: 196px;
        }
        @media (max-width:$lg) {
            height: 156px;
        }
    }
    &__title {
        margin-top: 50px;
        max-width: 88%;
        @media (max-width:$md) {
            margin-top: 32px;
        }
        @media (max-width:$lg) {
            margin-top: 34px;
        }
    }
    &__link {
        font-size: 24px;
        line-height: 38px;
        color: $black;
        transition: $transition;
        @media (max-width:$md) {
            font-size: 16px;
            line-height: 28px;
        }
    }
    &__date {
        margin-top: 10px;
        font-size: 24px;
        line-height: 38px;
        color: $blackLight2;
        @media (max-width:$md) {
            font-size: 16px;
            line-height: 28px;
        }
    }
    &__see {
        position: absolute;
        top: 484px;
        @media (max-width:$md) {
            top: 319px;
        }
        @media (max-width:$lg) {
            top: 250px;
            left: 110px;
        }
    }
}
.signMessage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-30px);
    transition: all .5s;
    &__title {
        font-size: 56px;
        line-height: 62px;
        color: $black;
        @media (max-width:$md) {
            font-size: 36px;
            line-height: 40px;
        }
    }
    &__text {
        margin-top: 50px;
        max-width: 64%;
        font-size: 24px;
        line-height: 38px;
        color: $black;
        @media (max-width:$md) {
            margin-top: 32px;
            font-size: 16px;
            line-height: 28px;
        }
    }
    &__btn {
        margin-top: 50px;
        width: 261px;
        height: 76px;
        @media (max-width:$md) {
            margin-top: 32px;
            width: 144px;
            height: 44px;
        }
    }
    &_error {
        .signMessage__title {
            color: $error;
        }
    }
    &.show {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0px);
    }
}