@import "../modules/utilities/_variables.scss";
@import "_slick.scss";

.mainSlider {
    &__container {
        position: relative;
        display: flex;
        height: 100vh;
    }
    &__img {
        flex: none;
        width: 1247px;
        height: 100vh;
        @extend %imgBg;
    }
    &__content {
        padding: 198px 128px 70px 60px;
        max-height: 88vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__item {
        display: flex !important;
        height: 100%;
        max-width: 100vw;
    }
    &__title {
        font-size: 66px;
        line-height: 72px;
        color: $black;
    }
    &__text {
        margin-top: 50px;
        font-size: 24px;
        line-height: 38px;
        color: $black;
    }
    &__btn {
        width: 311px;
        height: 76px;
    }
    .slick-dots {
        position: absolute;
        bottom: 70px;
        left: 1307px;
        display: flex;
        gap: 0 50px;
        li {
            width: 10px;
            height: 10px;
            background: $blackLight2;
            border-radius: 50%;
            overflow: hidden;
            transition: $transition;
            &.slick-active {
                background: $black;
            }
            button {
                display: none;
            }
        }
    }
}
.mainDolce {
    margin-top: 200px;
    &__about {
        padding-left: 343px;
        @extend %indentRight;
        font-size: 66px;
        line-height: 72px;
        color: $black;
    }
    &__item {
        margin-top: 200px;
        display: flex;
        &_right {
            .mainDolce__wrapper {
                @extend %indentRight;
            }
            .mainDolce__box {
                margin-left: 60px;
            }
        }
        &_left {
            .mainDolce__wrapper {
                @extend %indentLeft;
            }
            .mainDolce__box {
                margin-right: 60px;
            }
        }
    }
    &__img {
        @extend %imgBg;
    }
    &__small {
        position: relative;
        margin-top: 99px;
        width: 772px;
        height: 542px;
    }
    &__big {
        width: 1088px;
        height: 940px;
    }
    &__title {
        font-size: 56px;
        line-height: 62px;
        color: $black;
    }
    &__text {
        margin-top: 50px;
        font-size: 20px;
        line-height: 34px;
        color: $black;
    }
    &__all {
        margin-top: 50px;
    }
    &__link {
        position: relative;
        font-size: 20px;
        line-height: 34px;
        font-weight: 500;
        color: $black;
        transition: $transition;
        &:hover {
            color: $dolceColor;
            &:after {
                background: $dolceColor;
            }
        }
        &:active {
            color: $activeColor;
            &:after {
                background: $activeColor;
            }
        }
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: -4px;
            left: 0;
            height: 1px;
            background: $blackLight2;
            transition: $transition;
        }
    }
    &__video {
        position: absolute;
        top: 40px;
        right: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 96px;
        height: 96px;
        border: 2px solid $black;
        border-radius: 50%;
        transition: $transition;
        &:hover {
            opacity: .8;
        }
        &:active {
            opacity: .6;
        }
    }
}
.moreDolce {
    margin-top: 200px;
    &__content {
        display: flex;
        padding-right: 25px;
        @extend %indentLeft;
    }
    &__box {
        padding-top: 192px;
    }
    &__title {
        max-width: 634px;
        font-size: 100px;
        line-height: 100px;
        color: $black;
    }
    &__all {
        margin-top: 93px;
    }
    &__pictures {
        position: relative;
        display: flex;
        margin-left: 158px;
        &:after {
            content:'';
            position: absolute;
            top: 178px;
            right: 317px;
            width: 415px;
            height: 554px;
            background: $bgSkin;
        }
    }
    &__img {
        position: relative;
        width: 415px;
        height: 554px;
        z-index: 1;
        @extend %imgBg;
        &_left {
            margin-top: 100px;
        }
        &_right {
            margin-left: 60px;
        }
    }
}
.signConsultation {
    margin-top: 281px;
    &__content {
        width: 660px;
        @extend %indentLeft;
    }
    &__title {
        font-size: 56px;
        line-height: 62px;
        color: $black;
    }
    &__form {
        width: 574px;
    }
    &__fileds {
        margin-top: 48px;
    }
    &__bottom {
        margin-top: 51px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__btn {
        width: 314px;
        height: 76px;
        font-size: 20px;
        line-height: 34px;
    }
    &__info {
        font-size: 20px;
        line-height: 34px;
        color: $dolceColor;
    }
    &__privacy {
        margin-top: 50px;
        width: 50%;
        font-size: 16px;
        line-height: 24px;
        color: $blackLight2;
        a {
            text-decoration: underline;
        }
    }
}
.aboutDolce {
    margin-top: 200px;
    &__picture {
        width: 100%;
        height: 800px;
        @extend %imgBg;
    }
    &__content {
        margin-top: 200px;
        display: flex;
        @extend %indentRight;
        @extend %indentLeft;
    }
    &__main {
        width: 634px;
        flex: none;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 100px 60px;
    }
    &__item {
        width: 415px;
    }
    &__title {
        font-size: 66px;
        line-height: 72px;
        color: $black;
        span {
            display: block;
        }
    }
    &__description {
        margin-top: 50px;
        font-size: 20px;
        line-height: 34px;
        color: $black;
    }
}
.specialist {
    margin-top: 202px;
    &__content {
        @extend %indentLeft;
    }
    &__list {
        margin-top: 66px;
        margin-left: -30px;
    }
    &__item {
        width: 534px !important;
        margin: 0 30px;
        &.hover {
            .specialist__img {
                opacity: .8;
            }
            .specialist__title {
                color: $dolceColor;
            }
        }
        &.active {
            .specialist__img {
                opacity: .6;
            }
            .specialist__title {
                color: $activeColor;
            }
        }
    }
    &__img {
        flex: none;
        display: block;
        position: relative;
        width: 100%;
        height: 536px;
        background: $bgGrey;
        transition: $transition;
    }
    &__people {
        width: 100%;
        height: 100%;
        @extend %imgBg;
    }
    &__box {
        margin-top: 50px;
    }
    &__title {
        font-size: 24px;
        line-height: 38px;
        color: $black;
        transition: $transition;
    }
    &__text {
        margin-top: 6px;
        font-size: 24px;
        line-height: 38px;
        color: $blackLight2;
        span {
            display: block;
        }
    }
    &__arrows {
        display: flex;
        gap: 0 49px;
    }
    &__prev {
        transform: rotate(180deg);
    }
    &__prev,
    &__next {
        cursor: pointer;
        &:hover {
            svg {
                path {
                    stroke: $dolceColor;
                }
            }
        }
        &:active {
            svg {
                path {
                    stroke: $activeColor;
                }
            }
        }
        svg {
            path {
                transition: $transition;
            }
        }
    }
    .heading {
        display: flex;
        justify-content: space-between;
        @extend %indentRight;
    }
}
.reviews {
    margin-top: 140px;
    padding: 140px 0;
    background: $bgGrey;
    &__content {
        @extend %indentRight;
        @extend %indentLeft;
    }
    &__list {
        margin-top: 70px;
        border-top: 1px solid $blackLight2;
    }
    &__item {
        padding: 50px 100px 50px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $blackLight2;
        &.show {
            .reviews__recall {
                max-height: 100%;
            }
            .reviews__whole {
                svg {
                    transform: rotate(-180deg);
                }
            }
        }
    }
    &__box {
        max-width: 570px;
    }
    &__name {
        font-size: 34px;
        line-height: 40px;
        color: $black;
    }
    &__read {
        margin-top: 10px;
    }
    &__link {
        position: relative;
        font-size: 20px;
        line-height: 34px;
        font-weight: 500;
        color: $black;
        transition: $transition;
        &:hover {
            color: $dolceColor;
            &:after {
                background: $dolceColor;
            }
        }
        &:active {
            color: $activeColor;
            &:after {
                background: $activeColor;
            }
        }
        &:after {
            content:'';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            background: $blackLight2;
            transition: $transition;
        }
    }
    &__text {
        max-width: 791px;
    }
    &__recall {
        max-height: 172px;
        font-size: 24px;
        line-height: 43px;
        color: $black;
        overflow: hidden;
        transition: $transition;
    }
    &__all {
        margin-top: 30px;
    }
    &__whole {
        display: inline-flex;
        align-items: center;
        gap: 0 20px;
        cursor: pointer;
        transition: $transition;
        &:hover {
            span {
                color: $dolceColor;
            }
            svg {
                path {
                    stroke: $dolceColor;
                }
            }
        }
        &:active {
            span {
                color: $activeColor;
            }
            svg {
                path {
                    stroke: $activeColor;
                }
            }
        }
        span {
            font-size: 20px;
            line-height: 34px;
            font-weight: 500;
            color: $black;
            transition: $transition;
        }
        svg {
            path {
                transition: $transition;
            }
        }
    }
    &__see {
        margin-top: 50px;
        margin-left: 634px;
    }
}
.guestCard {
    margin-top: 140px;
    &__content {
        display: flex;
        gap: 0 60px;
        @extend %indentRight;
    }
    &__picture {
        width: 1088px;
        height: 740px;
        @extend %imgBg;
    }
    &__list {
        margin-top: 100px;
        display: flex;
        gap: 0 30px;
    }
    &__item {
        position: relative;
        padding: 30px;
        width: 250.73px;
        height: 183.45px;
        border: 1px solid $blackLight2;
        border-radius: 12px;
        transition: $transition;
        &:hover {
            background: $bgCosmetic;
        }
        &:active {
            opacity: 0.6;
        }
    }
    &__question {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    &__discount {
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-size: 28px;
        line-height: 40px;
        color: $black;
        span {
            display: block;
        }
    }
    &__benefits {
        margin-top: 70px;
    }
    &__li {
        font-size: 20px;
        line-height: 34px;
        color: $black;
        &:not(:first-child) {
            margin-top: 9px;
        }
        span {
            margin-right: 20px;
        }
    }
}