input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
::-webkit-scrollbar {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: $black;
    border-radius: 50px;
    transition: $transition;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #171719cc;
}
::-webkit-scrollbar-thumb:active {
    background-color: #17171999;
}
svg {
    display: block;
}
body {
    font: {
        family: 'SuisseIntl', serif;
        weight: 400;
    }
    color: $black;
    background: $white;
    overflow-x: hidden;
}
.container {
    @extend %container;
}

// btns
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: $transition;
    cursor: pointer;
    &_black {
        padding-top: 2px;
        font-size: 20px;
        line-height: 34px;
        color: $white;
        background: $black;
        &:hover {
            background: $dolceColor;
        }
        &:active {
            background: $activeColor;
        }
    }
    &_blackBorder {
        padding-top: 2px;
        font-size: 20px;
        line-height: 34px;
        color: $black;
        border: 1px solid $blackLight2;
        background: transparent;
        &:hover {
            color: $white;
            border: 1px solid $dolceColor;
            background: $dolceColor;
        }
        &:active {
            border: 1px solid $activeColor;
            background: $activeColor;
        }
    }
}