input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
svg {
    display: block;
}
body {
    font: {
        family: 'SuisseIntl', serif;
        weight: 400;
    }
    color: $black;
    background: $white;
    overflow-x: hidden;
}
.container {
    @extend %container;
}

// btns
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: $transition;
    cursor: pointer;
    &_black {
        padding-top: 2px;
        font-size: 20px;
        line-height: 34px;
        color: $white;
        background: $black;
        &:hover {
            background: $dolceColor;
        }
    }
}